@import './thm.scss';
@import './modal.scss';

@media (orientation: landscape) {
  #board{ display: flex; }
  .camp{ display: flex; }
  .row{ display: grid; }
}

#board{
  margin: auto;
  width: max-content;
}
.row{ 
  width: max-content; 
  display: flex;
}
.camp{ width: max-content; }
.case{
  height: 100px;
  width: 100px;
}
.pion{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.rouge{ background: red; }
.bleu{ background: blue; }
.mort{ background: gray!important; }