@media (orientation: landscape) {
  .row {
    display: grid !important;
  }
  .side {
    display: flex !important;
  }
  .board {
    display: flex !important;
  }
}


body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}  

.game {
  display: flex;
  flex-direction: row;
}  

.board {
  margin: 3rem  auto;
  
}

.side {
  margin: 1rem ;
}

.row {
  display: flex;
  margin: .5rem ;
}  

.Case {
  width: 100px;
  height: 100px;
  margin: .25rem;
  display: grid;
  place-items: center;
}  

.pion{
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.pion.rouge { background-color: red;}
.pion.bleu { background-color: blue;}

.board, .side, .row, .Case {  border: 1px solid #dee2e6 ; }  
.board, .side, .row {  width: max-content; }

h1{
  width: max-content;
  margin: auto;
}